.contact1 {
  width: 19vw;
  text-shadow: 1px 1px #000000;
  height: 100px;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 2px 5px 10px 0px rgb(43, 43, 238);
  padding: 20px;
  /* font-family: "Comic Sans MS", cursive, sans-serif; */
  margin-top: 25px;
  /* color:rgb(43, 43, 238); */
  text-shadow: 1px 1px #000000;
}

.name1 {
 margin-top: 5px; 
}

.email1 {
  margin-top: 5px; 
 }

 .message1 {
  margin-top: 5px; 
  /* padding: 07px; */
 }